@page
@model WebApplication2.Views.Doibong.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doibong[0].TenQuocGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doibong[0].SoCauThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doibong[0].IdCauThu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Doibong) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenQuocGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoCauThu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCauThu)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
